body{
  margin: 0;
  width: auto;
  height: 1000px;
}
ul{
  float: right;
  margin-right: 4%;
  
  list-style-type: none;
}
li{
  display: inline ;
padding: 10px;
}
#ab{
  margin-top: 10px;
  margin-left: 63px;
}
.div1{
  height: 200px;
  width: auto;
  background-color: rgb(220, 215, 215);
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
/* .div2{
display: flex;
}
.div3{
margin: 5%;
width: 33.33%;
height: 120px;
background-color: rgb(220, 215, 215);
}
.div4{
  margin: 5%;
  width: 33.33%;
  height: 120px;
  background-color: rgb(220, 215, 215);
  }
  .div5{
      margin: 5%;
      width: 33.33%;
      height: 120px;
      background-color: rgb(220, 215, 215);
      } */
     

/* .div3{
  background-color: rgb(220, 215, 215);
  border: 1px solid;
  height: 500%;
  width: 100%;
}
.div4{
  background-color: rgb(220, 215, 215);
  border: 1px solid;
}
.div5{
  background-color: rgb(220, 215, 215);
  border: 1px solid;
} */
.div3{
  background-color: rgb(221, 216, 216);
  width: 23.33%;
  float: right;
  height: 140px;
  margin-right: 4%;
}
.div4{
  background-color: rgb(220, 215, 215);
  width: 23.33%;
  float: left;
  height: 140px;
  margin-left: 4%;
}
.div5{
  background-color: rgb(222, 217, 217);
  width: 23.33%;
  margin: 0 auto;
  height: 140px;
}
.main-div{
  margin-top: 2%;
}
.div6{
  
  width: 23.33%;
  float: right;
  height: 200px;
  margin-right: 3%;
  margin-top: -2%;
}
.div7{
  
  width: 23.33%;
  float: left;
  height: 200px;
  margin-left: 3%;
  margin-top: -2%;
}
.div8{
 
  width: 23.33%;
  margin: 0 auto;
  height: 200px;
  margin-bottom: -1%;
}
.main-div2{
  margin-top: 1%;
}
.main-div2 h1{
  text-align: center;
}
.main-div2 pre{
  text-align: center;
}
.main-div2 p{
  text-align: center;
}
.my-class {
  text-align: center;
  margin-top: 8%;
}

#correction{
margin-top: 6%;
}

#correction1{
  margin-top: -1%;

}
.my-class1{
margin-left: 35%;
margin-top: 8%;
}


.footer{
  height: 9%;
  width: 96%;
  background-color:  rgb(222, 217, 217);
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  
  


}
label{
  font-size: xx-large;
  margin-left: 16%;
  text-align: center;
  margin-left: 27%;
  font-weight: bold;

  
}

input{
  padding: 8px;
  width: 20%;
  margin-left: 1%;
  bottom: none;
  margin-top: 2%;
  
  
}
.submit{
  padding: 8px;
  width: 15%;
  border: none;
  background-color: blue;
  color: white;
  
  
}
#last{
float: right;
margin-top: -3%;
margin-right: 2%;

}
#first{
  margin-left: -34%;
  margin-top: 1%;
}
.abc{
  width: 71%;
  height: -1%;
  margin-top: 2%;
  margin-left: 27%;
}

@media only screen and (max-width: 485px) {
  #ab{
      margin-left: 10px;
  }
}
@media only screen and (max-width: 598px) {
  .footer{
      margin-top: 10%;
  }
}
@media only screen and (max-width: 366px) {
  .footer{
      margin-top: 10%;
  }
} 
@media only screen and (max-width: 600px) {
  #sub{
      margin-left: 15%;
  }
}
